body {
    margin: 0;
}

.content-container{
    margin : auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.name-container{
    margin-top:0 ;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: white;
    font-size: 3em;
}


